<div class="road-vertical about-us" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('<%= image_path("road-vertical.jpg") %>');">
  <div class="top-line-box"><div class="top-line"></div></div>
    <div class="container h-100">
      <h1  id="about-us" class="page-header text-center mb72">Over ons</h1>
      <div class="row">
        <div class="col-4 d-flex justify-content-between align-items-center flex-column">
          <%= image_tag("vrienden2.JPG", class: "friend-photo") %>
          <div class="picture-line-box"><div class="picture-line"></div></div>
          <div class="friends-info">
            <p>Wij zijn 4 vrienden uit het Groningse Stadskanaal. We hebben jaren samen een camper gedeeld.
            Om de beurt maakten we mooie herinneringen met de camper.</p>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-between align-items-center flex-column">
          <%= image_tag("vrienden3.JPG", class: "friend-photo") %>
          <div class="picture-line-box"><div class="picture-line"></div></div>
          <div class="friends-info">
            <p> We kijken dan ook met veel genoegen op die periode terug. Die mooie momenten gunnen we anderen ook. Vandaar dat we nu onze buscamper verhuren.</p>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-between align-items-center flex-column">
          <%= image_tag("vrienden1.jpg", class: "friend-photo") %>
          <div class="picture-line-box"><div class="picture-line"></div></div>
          <div class="friends-info">
            <p>De camper is handzaam, handzamer dan een (semi-)integraal en van alle gemakken voorzien.
            Ben je benieuwd, kijk dan naar de overige informatie op deze site.
            Wil je meer weten neem dan gerust contact met ons op.</p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="images-collage d-flex">
          <div class="collage-left d-flex flex-column align-items-end">
            <%= image_tag("eagle.JPG", class: "eagle-photo") %>
            <%= image_tag("canyon.JPG", class: "canyon-photo") %>
          </div>
          <div class="collage-right d-flex flex-column">
            <%= image_tag("vinyards.jpg", class: "vinyard-photo") %>
            <%= image_tag("coastal-mountain.JPG", class: "mountain-photo") %>
          </div>
        </div>
      </div>
      <div class="picture-line-box contact"><div class="picture-line contact"></div></div>
      <div class="contact-info">
        <p class="text-center no-margin-btm">Telefoonnummer: 0599 622058</p>
        <p class="text-center no-margin-btm">Mobiel: 06 51069513</p>
        <p class="text-center no-margin-btm">E-mail: info@veldstad.nl</p>
      </div>
    </div>
  <div class="bottom-line-box"><div class="bottom-line"></div></div>
</div>
