<div id="gallery" class="full-page road-horizontal" style="background-image: linear-gradient(119.72deg, rgba(0, 0, 0, 0.7) 47.57%, rgba(0, 0, 0, 0.574) 73.7%, rgba(0, 0, 0, 0) 92.27%), url('<%= image_path("road-horizontal.jpg") %>');">
  <div class="top-line-box"><div class="top-line"></div></div>
  <div class="container d-flex flex-column h-100">
    <h1 class="page-header text-center w-100">Gallerij</h1>
    <div id="carousel" data-auto="true">
      <div id="scene">
        <%= image_tag("DSC_0060.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0061.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0064.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0065.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0066.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0067.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0068.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0070.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0071.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_00720.png", class: "carousel_item") %>
        <%= image_tag("DSC_00730.png", class: "carousel_item") %>
        <%= image_tag("DSC_00740.png", class: "carousel_item") %>
        <%= image_tag("DSC_0075.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0076.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0077.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0078.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0079.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0081.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0083.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0084.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0086.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0087.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0088.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0089.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0090.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0091.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0092.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0093.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0094.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0095.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0096.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0097.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0098.JPG", class: "carousel_item") %>
        <%= image_tag("DSC_0099.JPG", class: "carousel_item") %>

      </div>

      <div id="carousel_btn" class="d-flex justify-content-center mt-5">
        <div class="btn prev"><i class="fa-solid fa-chevron-left prev"></i></div>
        <div class="btn next"><i class="fa-solid fa-chevron-right next"></i></div>
      </div>
    </div>
  </div>
  <div class="bottom-line-box gallery"><div class="bottom-line"></div></div>
</div>
