<%= render 'shared/navbar' %>
<div class="home-banner" style="background-image: linear-gradient(119.72deg, rgba(0, 0, 0, 0.7) 47.57%, rgba(0, 0, 0, 0.574) 73.7%, rgba(0, 0, 0, 0) 92.27%), url('<%= image_path("buscamper.JPG") %>');">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="home-content container">
      <h1>Het avontuur wacht!</h1>
      <div class="sub-header">
        <p>Boek onze compleet ingerichte en comfortabele camper en voel je zo vrij als een vogel</p>
      </div>
      <%= link_to "BOEKEN", new_booking_path, class: "btn-main" %>
    </div>
  </div>
  <% if flash[:notice] == 'Request was successfully created.' %>
    <div data-controller="modal" data-modal-target="modal" class="modal fade show dark-backdrop" id="staticBackdropLive" style="display: block;" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLiveLabel" role="dialog" aria-modal="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-borders10 p12">
          <div class="modal-header small-orange-border">
            <h1 class="modal-title fs-5" id="staticBackdropLiveLabel">Boeking geslaagd!</h1>
            <button type="button" class="btn-close" data-action="click->modal#close"></button>
          </div>
          <div class="modal-body">
            <p>U kunt spoedig een email verwachten met de details voor het voldaan van de borg.</p>
            <p>Tevens kunt u hier de details van uw boeking bekijken en ons eventueel contacten mogen zaken onduidelijk zijn.</p>
            <p><em>Dank voor uw boeking!</em></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="bottom-line-box home"><div class="bottom-line"></div></div>
  <i class="fa-solid fa-arrow-up d-none" id="btnUp" data-controller="upbtn" data-action="click->upbtn#goToTop" data-upbtn-target="button"></i>
</div>
<%= render 'gallery' %>
<%= render 'info' %>
<%= render 'about_us' %>
<%= render 'availability' %>
